@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-sage: var(--sage-green);
  --color-olive: var(--olive);
  --color-charcoal: var(--charcoal);
  --color-warm-beige: var(--warm-beige);
  --font-heading: var(--heading);
  --font-body: var(--body);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --sage-green: #8b9d83;
  --olive: #6b7353;
  --charcoal: #3a3a3a;
  --warm-beige: #e8ddd3;

  /* typo */
  --heading: "Lora", serif;
  --body: "Inter", sans-serif;
}
