@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-sage: var(--sage-green);
  --color-olive: var(--olive);
  --color-charcoal: var(--charcoal);
  --color-warm-beige: var(--warm-beige);
  --font-heading: var(--heading);
  --font-body: var(--body);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --sage-green: #8b9d83;
  --olive: #6b7353;
  --charcoal: #3a3a3a;
  --warm-beige: #e8ddd3;

  /* typo */
  --heading: "Lora", serif;
  --body: "Inter", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 250px;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(31, 31, 31, 0.308);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
